html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  
}

body{
  background-color: #040714;
  color: #f9f9f9;
  font-family: poppins;
  margin: 0;
  padding: 0;

}
a{
  color: #f9f9f9;
}

@media only screen and (min-width: 768px){
  body{
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px){
  body{
    font-size: 15px;
  }
}
@media only screen and (max-width: 479px){
  body{
    font-size: 14px;
  }
}

.cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  place-items: center;
}


.cards11{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  align-items: center;
}