@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  
}

body{
  background:#0d111b;
  color: #f9f9f9;
  font-family: Gothic A1;
  margin: 0;
  padding: 0;

}
a{
  color: #f9f9f9;
}

@media only screen and (min-width: 768px){
  body{
    font-size: 16px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 768px){
  body{
    font-size: 15px;
  }
}


@media only screen and (max-width: 479px){
  body{
    font-size: 14px;
  }
 .red{
  top:180px;
 }

}


/* .cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  place-items: center;
  max-width: 340px;

} */

@media only screen and (max-width: 479px){
  cont{
    max-width: 80px;
  }

}

.cards11{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 369px;
  padding: 0 20px;
  align-items: center;
}


